@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --white-clr: #fff;
    --black-clr: #000;
    --light-clr: #333;
    --primary-clr:#e6303d;
    --secondary-clr:#eee;
    --tag-clr: #7cc576;
}
/* Basic Styling*/
li{
    list-style: none;
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--primary-clr);
}

img{
    width: 100%;
    height: 100%;
    display: block;
    transition: transform .3s ease-in-out;
}

.flex{
    display: flex;
    text-align: center;
}

.container{
    max-width: 90%;
    margin: auto;
    justify-content: center;
}

.section{
    padding-top: 4rem;
}

.wrap{
    flex-wrap: wrap;
}

.secondary-bg{
    background: var();
    padding-block: 2.2rem;
}   

/* Navbar Styling*/

header{
    background: var(--white-clr);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
    box-shadow: 0px 5px 14px .75px rgba(36,11,12,.05);
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--black-clr);
}

.link{
    font-size: .95rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 500;
}

.icon{
    font-size: .9rem;
    color: var(--light-clr);
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

.icon:hover,
.icon-active{
    background:#807f7f;
}

span,
.link:hover,
.link-active{
    color: var(--primary-clr);
}

.navbar{
    height: 12vh;
    justify-content:space-between;
    padding-top: 2%;
}

.navlist{
    gap: 2.5rem;
}

.nav-icons{
    gap: .8rem
}

.hamburger{
    font-size: 1.7rem;
    color: var(--light-clr);
    display: none;
}

/*Sections styling*/

.hero{
    height: 115vh;
    background-image: url("images/hero-image.jpg");
    background-position: center center;
    background-size: cover ;
    background-repeat: no-repeat;
    margin-top: 5.5rem;
}

.hero-content{
    height: 100%;
    justify-content: flex-end;
    text-align: left;
    padding-top: 26%;
}

h3{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.7rem;
    color: var(--light-clr);
}

h1{
    font-size: 4rem;
    font-weight: 600;
    line-height: 4rem;
    color: var(--light-clr);
}

h4{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: .5rem;
}

button{
    font-weight: 600;
    font-size: .9rem;
    padding: .8rem 2.2rem;
    text-transform: uppercase;
    color: var(--secondary-clr);
    border: none;
    background: var(--primary-clr);
    transition: all .3s ease-in-out;
}

button:hover{
    background: var(--light-clr);
}

.category-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1.7rem;
}
.category:nth-child(1),
.category:nth-child(4){
    grid-row: 1/3;
}

.category:nth-child(2){
    grid-row: 1/2;
}

.category{
    position: relative;
    overflow: hidden;
}

.category button{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-weight: 500;
    background: var(--white-clr);
    color: var(--black-clr);
}

.category button:hover{
    background: var(--primary-clr);
    color: var(--white-clr);
}

.category:hover img{
    transform: scale(1.1);
}

.category::before{
    content: '';
    position: absolute;
    background: var(--white-clr);
    width: 0%;
    height: 100%;
    opacity: .2;
    z-index: 2;
    transition: all .3s ease-in-out;
}

.category:hover::before{
    width: 100%;
}

h2{
    font-size: 2rem;
    color: var(--light-clr);
    font-weight: 500;
    text-align: center;
}

.line{
    background: var(--primary-clr);
    width: 60px;
    height: 2.5px;
    margin:auto;
    margin-bottom: 1.2rem;
}

.card-container{
    justify-content: center;
    text-align: center;
}

.card{
    border-right: 1px solid #efefef;
    flex: 1;
    padding-block: 3rem;
    margin-bottom: 5rem;
    transition: all .3s ease-in-out;
    position: relative;
    width: 100%;
    height: 550px;
}

.card:hover{
    box-shadow: 0px 5px 19px 1px rgba(36,11,12,.15);
    z-index: 3;
}

.card-content{
    padding: 0 3rem;
}

.title{
    font-size: 1rem;
    color: var(--light-clr);
    font-weight: 500;
    line-height: 1.7rem;
}

.price{
    margin-top: 1rem;
}

del{
    color: #c5c5c5;
}

.amount{
    font-size: 1.1rem;
    font-weight: 600;
}

.add-to-cart{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    transform: translateY(10px);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.card:hover .add-to-cart{
    transform: translateY(0px);
    opacity: 1;
    visibility: visible;
    margin-top: 3rem;
}

.sale::before,
.new::before{
    position: absolute;
    top:15px;
    left: 20px;
    padding: .2 1.3rem;
    color: var(--white-clr);
}

.new::before{
    content: 'new';
    background: var(--tag-clr);
}

.sale::before{
    content: 'Sale';
    background: var(--primary-clr);
}

.sale-container{
    padding-block: 5rem;
    text-align: center;
    background-image: url(images/sale-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sale-container h3{
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 1.4rem;
    text-transform: uppercase;
}

.sale-container h1{
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 4.7rem;
}

.sale-container .line{
    width: 15%;
    background: #c5c5c5;
    margin-bottom: 1rem;
}

.sale-container h4{
    font-size: 1.2rem;
    color: #747272;
    line-height: 1.1rem;
    margin-bottom: 1.5rem;
}

.box{
    float: 1;
    text-align: center;
    margin-block: 1rem ;
    flex-basis: 200px;
}

.box .fa-solid{
    font-size: 1.5rem;
    color: var(--primary-clr);
}

h5 a{
    font-size: 1.1rem;
    color: var(--light-clr);
    font-weight: 500;
    line-height: 2rem;
}

.des{
    color: #6e6e6e;
    font-size: .9rem;
    font-weight: 400;
}

.blog-container{
    margin-top: 3rem;
    gap: 2rem;
    
}

.blog-box{
    flex: 1;
    position: relative;
    flex-basis: 300px;
}

.blog-box::before{
    content: '';
    position: absolute;
    background: rgba(31, 31, 31, 0.8);
    top:0;
    left:0;width: 0%;
    height: 100%;
    z-index: 3;
    transition: all .3s ease-in-out;
}

.blog-box:hover::before{
    width: 100%;
}

.blog-content{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
    padding-inline: 2rem;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-in-out;
}

.heading{
    font-size: 1.7rem;
    list-style: 4rem;
    font-weight: 400;
}

.blog-content *{
    color: var(--secondary-clr);
}

.blog-link{
    font-size: .9rem;
    font-weight: 500;
    line-height: 5rem;
    color: var(--primary-clr);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-transform: uppercase;
}

.blog-box:hover .blog-content{
    left:50%;
    opacity: 1;
    visibility: visible;
}

form{
    gap: 3rem;
}

form h3{
    font-size: 1.4rem;
}

.input-container{
    flex:1;
    align-items: stretch;
}

#email{
    border: more;
    flex:1;
    font-size: 1rem;
    padding-left: 1.1rem;
}   

#email:focus{
    outline: none;
}

.social-icons{
    gap:2rem;
    justify-content: flex-end;
}

.media{
    font-size: 1.2rem;
    color: var(--light-clr);
}

/* Footer Here */

.footer-container{
    padding-bottom: 3rem;
}

.footer-list{
    flex:1;
    padding-block: 1rem;
    flex-basis: 200px;
}

.footer-link{
    font-size: .9rem;
    font-weight: 500;
    color: var(--light-clr);
    line-height: 2.25rem;
}

.footer-logo{
    margin-bottom: 1rem;
}

.detail{
    font-size: .95rem;
    line-height: 1.75rem;
    color: #6e6e6e;
}

.footer-bottom{
    padding-block: .85rem;
    text-align: center;
    color: #6e6e6e;
    border-top: .065rem solid #ebebeb;
    font-size: .9rem;
}















































@media screen and (max-width: 700px){
    .navlist{
        flex-direction: column;
        position: absolute;
        align-items: flex-start;
        top:0;
        left:0;
        width:100%;
        background: var(--black-clr);
        padding: 2rem;
        transform: translateY(-100%);
        transition: transform .3s ease-in-out;
    }

    .navlist-active{
        transform: translateY(20%);
    }

    .navlist .link{
        color: var(--secondary-clr);
        font-weight: 400;
    }

    .nav-icons a,
    .link:hover,
    .navlist .link-active{
        color: var(--primary-clr);
    }

    .hamburger{
        display: block;
    }

    .container{
        max-width: 90%;
    }

    .hero{
        height: 60bh;
    }

    h3{
        font-size: 1.3rem;
        line-height: 1.3rem;
    }

    h1{
        font-size: 2.2rem;
        line-height: 4rem;
    }

    h4{
        font-size: 1.1rem;
        line-height: 2rem;
    }

    .category-container{
        grid-template-columns: 1fr;
    }

    .category:nth-child(1),
    .category:nth-child(2),
    .category:nth-child(4){
        grid-row: auto;
    }
}